:root {
  --color-primary: #845cd6;
  --color-white-alpha10: rgba(255, 255, 255, 0.1);
  --color-black-alpha20: rgba(0, 0, 0, 0.2);
  --color-bg: rgb(14, 14, 20);
  --color-text: #fff;
}

body {
  background-color: var(--color-bg);
  color: var(--color-text);
  font-size: 12px;
}

.navbar {
  min-height: 8vh;
  background-color: var(--color-black-alpha20);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

h1 {
  color: var(--color-primary);
}

.todo-list {
  width: 90%;
  max-width: 600px;
  background-color: var(--color-white-alpha10);
  border-radius: 0.5rem;
}

.todo-list__container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto;
      grid-template-columns: 1fr auto;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.todo {
  width: 90%;
  max-width: 600px;
  background-color: var(--color-white-alpha10);
  border-radius: 0.5rem;
}

.todo__container {
  width: 100%;
  background-color: var(--color-bg);
  border-radius: 0.25rem;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr auto auto auto;
      grid-template-columns: 1fr auto auto auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5rem;
          column-gap: 0.5rem;
}

.todo__title {
  background-color: transparent;
  border: none;
  color: currentColor;
  cursor: default;
}

.toggler {
  color: red;
}
