:root {
    --color-primary: #845cd6;
    --color-white-alpha10: rgba(255, 255, 255, 0.1);
    --color-black-alpha20: rgba(0, 0, 0, 0.2);
    --color-bg: rgb(14, 14, 20);
    --color-text: #fff;
    --color-danger-400: #DC4146;
    --color-warning-400: #FEC134;
}

* {
    font-size: 13.5px;
}

body {
    background-color: var(--color-bg);
    color: var(--color-text);
    padding-bottom: 2em;
}

.App {
    overflow-x: hidden;
    padding-top: 10vh;
}

h1.heading {
    font-size: 2rem;
    color: var(--color-primary);
}

.header {
    height: 10vh;
    max-height: 66px;
    background-color: hsl(240, 20%, 5%);

    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 998;

}

.navbar {
    width: 90%;
    max-width: 600px;

    display: flex;
    justify-content: space-between;

    &__logo {
        color: #DC4146;
        position: relative;
        padding-left: 0.4em;
        font-size: 1.35rem;

        &::before {
            content: 'P';
            color: #FEC134;
            transform: scale(-1, 1);
            position: absolute;
            left: 0;
        }
    }

    &__info-container {
        height: inherit;
        display: flex;
        
        p {
            display: flex;
            align-items: center;
        }

        span {
            font-size: 1rem;
            height: 2rem;
            width: 2rem;
            display: grid;
            place-items: center;
            background-color: rgba(255, 255, 255, 0.1);
            border-radius: 4px;
            margin-left: 0.5em;
            font-weight: 600;
            color: var(--color-warning-400);
        }
    }

    &__menu-btn {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: #efefef;

        &:hover {
            color: var(--color-text);
        }
    }

    position: relative;

    &__del-btn {
        visibility: hidden;
        opacity: 0;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, 100%);
        font-size: 0.65rem;
        width: fit-content;
        transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
        
        &.active {
            visibility: visible;
            opacity: 1;
        }
    }
    
}

.menu {
    position: fixed;
    top: 10%;
    bottom: 0;
    right: 0;
    transform: translateX(100%);
    background-color: hsl(240, 20%, 15%);
    z-index: 999;
    min-height: calc(100vh - 10%);
    width: 80%;
    max-width: 300px;
    box-shadow: -15px 0 30px rgba(0, 0, 0, 0.25);

    transition: transform .3s ease-in;

    &__container {
        height: 80vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
    }

    &.active {
        transform: translateX(0);
    }

    &__image {
        width: 100px;
    }

    &__about {
        text-align: center;

        h1 {
            font-size: 1.75rem;
            margin-top: 0.5em;
            color: var(--color-danger-400);
        }
        h2 {
            font-size: 1.2rem;
            margin-top: 0.35em;
        }
        p {
            color: rgba(255, 255, 255, 0.75);
            margin-top: 0.65em;
            padding: 0 2em;

            span {
                display: block;
                font-weight: 500;
                color: #fff;
            }
        }
    }

    &__nav {

        p {
            font-size: 0.85rem;
            margin-bottom: 0.5em;
            color: rgba(255, 255, 255, 0.5);
        }

        a {
            display: block;
            color: rgba(255, 255, 255, 0.8);
            text-decoration: none;
            font-weight: 600;
            
            &:not(:last-of-type) {
                margin-bottom: 1em;
            }

            &:hover,
            &:focus {
                outline: none;
                color: rgba(255, 255, 255);
            }
        }
    }

    &__social-container {
        color: rgba(255, 255, 255, 0.455);
        
        a:hover,
        a:focus {
            outline: none;
            color: var(--color-danger-400);
        }
    }

    
}
    
.todo-list {
    width: 90%;
    max-width: 600px;
    background-color: var(--color-white-alpha10);
    border-radius: 0.5rem;

    &__container {
        display: grid;
        grid-template-columns: 1fr auto;
        column-gap: 0.5rem;
    }
}

.todo {
    width: 90%;
    max-width: 600px;
    background-color: var(--color-white-alpha10);
    border-radius: 0.5rem;
    animation: fallToDown .5s ease;
    
    &__container {
        width: 100%;
        background-color: var(--color-bg);
        border-radius: 0.25rem;

        display: grid;
        grid-template-columns: 1fr auto auto auto;
        align-items: center;
        column-gap: 0.5rem;
    }

    &__title {
        height: 100%;
        width: 100%;
        background-color: transparent;
        border: none;
        border-radius: 2px;
        font-size: 0.95rem;
        color: currentColor;
        cursor: default;
        transition: 
            padding-left .5s ease, 
            box-shadow .5s ease;

        &.active {
            cursor: text;
            padding-left: 0.5em;
            box-shadow: inset 0 -2px 0 rgba(49, 162, 184, 0.4);
        }
        &.active ~ .todo__checkbox-container {
            visibility: hidden;
        }
    }

    &__checkbox-container {
        height: 1.5rem;
        width: 1.5rem;
        position: relative;
        display: grid;
        place-items: center;

        .checkbox {
            height: 50%;
            width: 50%;
            visibility: hidden;
        }
        .checkbox-label {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: transparent;
            border-radius: 4px;
            color: rgba(255, 255, 255, 0.2);
            display: grid;
            place-items: center;
            cursor: pointer;
            box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.2);

            transition: all .2s ease, visibility 0s;

            &:hover {
                box-shadow: 0 0 0 1px rgba(255, 255, 255, 0.5);
                color: rgba(255, 255, 255, 0.5);
            }
        }
        .checkbox-label.active {
            background-color: var(--color-primary);
            color: var(--color-text);
            box-shadow: none;
        }
    }

}

// extra classes
.form-error {
    border-color: var(--color-danger-400);
    animation: vibrate .3s ease;

    &::placeholder {
        color: var(--color-danger-400);
    }

    &:focus {
        box-shadow: 0 0 0 2.5px rgba(220, 65, 70, 0.5);
    }
}

.todo-list__container {
    position: relative;
    // height: 100%;
}

.tooltip {
    display: none;
    width: fit-content;
    max-width: 200px;
    background-color: var(--color-danger-400);
    color: #fff;
    font-size: 0.75rem;
    font-weight: 600;
    text-align: center;
    padding: 0.25em 2em;
    border-radius: 4px;
    transform: translateY(30%);
    transition: display .3s ease;

    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.8);

    position: absolute;
    top: 100%;
    left: 0;

    &::before {
        content: '';
        display: inline-block;
        background-color: transparent;
        height: 10px;
        width: 10px;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid transparent;
        border-bottom: 5px solid var(--color-danger-400);

        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -90%);  
    }

    &.active {
        display: block;
    }
}


@media screen and (min-width: 601px) {
    * {
        font-size: 15.5px;
    }
}



@media screen and (min-width: 961px) {
    * {
        font-size: 16.5px;
    }
    .menu {
        box-shadow: unset;

        p, strong, span {
        font-size: 0.75rem;
        }
    }
}



// Keyframes 
@keyframes fallToDown {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes vibrate {
    0%, 100% {
        transform: translateX(0);
    }
    20%, 60% {
        transform: translateX(2%);
    }
    40%, 80% {
        transform: translateX(-2%);
    }
}